<h1> Job page</h1>
<h3><%= @job.title %></h3>
<div>Github Repository:<%= @job.github_repo %></div>
<div>Description:<%= @job.description %></div>
<h3>Start a new sessions</h3>
<div><%= link_to 'Start a new job session' %></div>

<div>
	<%= simple_form_for [@job, @job.job_sessions.build] do |f| %>
		<%= f.input :session_title %>
		<%= f.input :session_goals, as: :text %>
		<%= f.submit 'Start Session'%>
	<% end %>
</div>

<div>
	<!-- Should eventually show all job sessions. Only showing most recent -->
	<h3>Sessions</h3>
	<%- job_session = @job.job_sessions.reverse[1] -%>
	<%- if @job.job_sessions != [] && (job_session != nil)-%>
		<h4>Session title</h4>
		<%= @job.job_sessions.reverse[1].session_title %>
		<h4>Session Goals</h4>
		<%= @job.job_sessions.reverse[1].session_goals %>

		<%- if job_session.active? -%>
			<div class="stopwatch" data-timer="0" style="width: 400px;">
			</div>
			<div>
				<button type=button class="timer_start">Start Timer</button>
				<button type=button class="timer_stop">Pause Session</button>
				<button type=button class="session_end">End Session</button>
			</div>
			<%- end -%>
	<%- end -%>
</div>

<script>
  window.job_sessionId = <%= @job.job_sessions.reverse[1].id %>;
</script>