<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%- if notice !=  nil -%>
        <div data-alert class="alert-box alert row ">
          <p class="small-6 large-centered columns"><%= notice %></p>
        </div>
    <%- end -%>
    
	<%= yield %>

</body>
</html>
