<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if current_user? %>
      <%= link_to 'Sign Out', session_path("delete"), method: :delete%>
    <% else %>
      <div><%= link_to 'Sign in', '/auth/github' %></div>
    <% end %>


    <%- if notice !=  nil -%>
        <div data-alert class="alert-box alert row ">
          <p class="small-6 large-centered columns"><%= notice %></p>
        </div>
    <%- end -%>
    
	<%= yield %>

  <%= javascript_include_tag 'jquery', "application" %>
  <%= yield :javascript %>
</body>
</html>
